<ion-header>
  <ion-toolbar>
    <ion-title>Product Details</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src={{ProdImage}}/>
  <div class="productName">
      <ion-label>
        {{Prodname}}
      </ion-label>
  </div>
  <div class="category">
    <ion-label>
      in {{ProdCategory}}
    </ion-label>
  </div>
  <div class="minorder">
      <ion-label>
        Min Order:10 pieces
      </ion-label>
  </div>
</ion-content>
<ion-footer>
<ion-toolbar>
    <ion-button expand="full" fill="solid">
        <p (click)='order()'>ORDER NOW</p>
      </ion-button>
</ion-toolbar>

</ion-footer>
