
.forgot-password {
    color: rgb(59, 66, 77);
    font-size: 12px;
    float: left;
    margin-top: 20px;
}
.loginText
{
    position: relative;
    left: 40%;
    bottom: auto;
    right: auto;
    font-weight: bold;
}
