.categoryText{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.productName
{
  font-size:13px;
  margin-left: 8px;
  font-weight: bold;
}
.categoryName
{
  font-size: 12px;
  margin-left:8px;
  position: relative;
  bottom: 10px;
}
.price
{
  font-size: 13px;
  font-weight: bold;
  margin-left: 8px;
  position: relative;
  bottom: 15px;
}
ion-card{
  margin:2px;
  
}